[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Upgrade Elive
Name[vi]=Nâng cấp Elive
Name[uk]=Оновлення Elive
Name[tl]=I-upgrade ang Elive
Name[sv]=Upgrade Elive
Name[sl]=Nadgradnja Elive
Name[sk]=Upgrade eLive
Name[ru]=Обновление Elive
Name[ro]=Upgrade Elive
Name[pt]=Upgrade Elive
Name[pl]=Upgrade Elive
Name[no]=Oppgrader Elive
Name[nl]=Upgrade Elive
Name[lv]=Upgrade Elive
Name[lt]=Atnaujinkite Elive
Name[ja]=アップグレードeLiveな
Name[iw]=שדרג Elive
Name[it]=Upgrade Elive
Name[id]=Upgrade Elive
Name[hr]=Upgrade Elive
Name[hi]=अद्यतन Elive
Name[fr]=Upgrade Elive
Name[fi]=Upgrade Elive
Name[es]=Actualización Elive
Name[en]=Upgrade Elive
Name[el]=Αναβάθμιση Elive
Name[de]=Upgrade elive
Name[da]=Upgrade Elive
Name[cs]=Upgrade Elive
Name[ca]=Actualització Elive
Name[bg]=Ъпгрейд Elive
Name[ar]=ترقية Elive
GenericName=Install a new version of Elive
GenericName[vi]=Cài đặt một phiên bản mới của Elive
GenericName[uk]=Встановити нову версію Elive
GenericName[tl]=I-install ng bagong bersyon ng Elive
GenericName[sv]=Installera en ny version av Elive
GenericName[sl]=Namestite novo različico Elive
GenericName[sk]=Nainštalujte novú verziu eLive
GenericName[ru]=Установить новую версию Elive
GenericName[ro]=Instalaţi o versiune nouă a Elive
GenericName[pt]=Instalar uma nova versão do Elive
GenericName[pl]=Instalacja nowej wersji Elive
GenericName[no]=Installer en ny versjon av Elive
GenericName[nl]=Installeer een nieuwe versie van Elive
GenericName[lv]=Instalējiet jauno versiju Elive
GenericName[lt]=Įdiegti naują versiją Elive
GenericName[ja]=eLiveなのインストール新しいバージョン
GenericName[iw]=להתקין גרסה חדשה של Elive
GenericName[it]=Installare una nuova versione di Elive
GenericName[id]=Menginstal versi baru Elive
GenericName[hr]=Instalirajte novu verziju Elive
GenericName[hi]=Elive स्थापित करने का एक नया संस्करण
GenericName[fr]=Installer une nouvelle version de Elive
GenericName[fi]=Asenna uusi versio Elive
GenericName[es]=Instalar una nueva versión de Elive
GenericName[en]=Install a new version of Elive
GenericName[el]=Εγκαταστήσετε μια νέα έκδοση του Elive
GenericName[de]=Installieren Sie eine neue Version von elive
GenericName[da]=Installere en ny version af Elive
GenericName[cs]=Nainstalujte novou verzi Elive
GenericName[ca]=Instal·lar una nova versió de Elive
GenericName[bg]=Инсталиране на нова версия на Elive
GenericName[ar]=تثبيت نسخة جديدة من Elive
Icon=logo-elive
Exec=upgrade-elive
Terminal=false
Categories=ENLIGHTENMENT;System;Settings;
